@charset 'UTF-8';

/// 1. Configuration and helpers
@import
'abstracts/variables',
'abstracts/functions',
'abstracts/mixins';

/// 2. Vendors
/// @import 'vendor/normalize';

/// 3. Base stuff
@import
'base/fonts',
'base/base',
'base/helpers';

/// 4. Layout-related sections
@import
'layout/header',
'layout/footer';

/// 5. Components
@import
'components/button',
'components/carousel',
'components/social-icons',
'components/search-box';

/// 6. Page-specific styles
@import
'pages/home',
'pages/internal',
'pages/job-results-page',
'pages/job-details-page',
'pages/cookies';

/// 7. Themes
@import
'themes/default';
